//COLORS
$primary-color:                 rgb(46, 80, 241);
$primary-color-transparent:     rgba(46, 79, 241, 0.4);
$secondary-color:               rgba(209, 209, 209, 0.8);
$bg-dark:                       rgba(0, 0, 0, 0.8);
$navbar-bg:                     rgba(0, 23, 138, 0.384);
$title-color:                   #fff;
$subtitle-color:                #ccc;

//FONT SIZE
$s1:       3rem;
$s2:       2.5rem;
$s3:       2rem;
$s4:       1.7rem;
$s5:       1.5rem;
$s6:       1.2rem;
$s7:       1rem;
$s8:       0.9rem;
$s9:       0.65rem;
